.wrapper {
  justify-content: space-between;
  margin: 7%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wrapper-left, .wrapper-left-change{
  background: rgba(73, 87, 149, 0.197154);
  border: 1px solid #495795;
  border-radius: 20.9px;
  width: 145px;
  height: 178px;
}

.wrapper-left-change {
  width: 131px;
  height: 160px;
  opacity: 0.6;
}

.wrapper-left h2,
.wrapper-left-change h2 {
  font-family: "SFProText";
  font-size: 18.7px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 12%;
}

.wrapper-left h1,
.wrapper-left-change h1 {
  font-family: "SFProText";
  font-weight: 700;
  font-size: 24px;
  line-height: 15px;
  color: #ffffff;
  margin: 12% auto 0;
  text-align: center;
}
.wrapper-left-change h1 {
  margin: 8% auto 0;
  font-size: 20px;
}

.wrapper-left p,
.wrapper-left-change p {
  font-family: "SFProText";
  margin-top: 4%;
  font-size: 13.2px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.wrapper-left h3,
.wrapper-left-change h3 {
  background: #495795;
  font-family: "SFProText";
  font-size: 15.4px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 2%;
  margin: 5% auto;
}
.wrapper-right {
  position: relative;
  width: 131px;
  height: 160px;
  opacity: 0.6;
}

.wrapper-right-change {
  position: relative;
  width: 145px;
  height: 178px;
}

.wrapper-right .img-back,
.wrapper-right-change .img-back {
  background-image: url(./assets/Combined\ Shape@3x.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 131px;
  height: 160px;
  position: absolute;
  top: 0;
  right: 0;
}
.wrapper-right-change .img-back {
  width: 145px;
  height: 178px;
}

.img-red {
  background-image: url(./assets/Group\ 9.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  margin-left: 77%;
}

.wrapper-right-change .img-red {
  width: 35px;
  height: 35px;
}

.wrapper-right h2,
.wrapper-right-change h2 {
  font-family: "SFProText";
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.wrapper-right-change h2 {
  font-size: 19px;
}

.wrapper-right h1,
.wrapper-right-change h1 {
  font-family: "SFProText";
  font-weight: 700;
  font-size: 22px;
  line-height: 15px;
  color: #ffffff;
  margin: 10% auto 0;
  text-align: center;
}

.wrapper-right p,
.wrapper-right-change p {
  font-family: "SFProText";
  margin-top: 4%;
  font-size: 13.2px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.wrapper-right h3,
.wrapper-right-change h3 {
  background: #495795;
  font-family: "SFProText";
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 2%;
  margin: 5% auto;

}

.btn {
  background: linear-gradient(270deg, #1987ff 0%, #19ccff 100%);
  border-radius: 30px;
  width: 280px;
  height: 54px;
  margin: 2% auto;
}
.btn p {
  padding: 6%;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  align-items: center;
  color: #ffffff;
}
